/* Color Palette:
Terra cotta: #E07A5F
Muted sage green: #81B29A
Deep slate blue: #3D405B
Antique white: #F4F1DE
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Andika', sans-serif;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
    font-size: 18px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E07A5F;
    color: white;
    height: 15vh;
    width: 100%;
    font-size: 3.5rem;
    border-bottom: 3px solid white;
    font-family: 'Oswald', sans-serif;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E07A5F;
    color: white;
    height: 15vh;
    width: 100%;
    font-size: 2rem;
    border-top: 3px solid white;
    font-family: 'Oswald', serif;
}

#main {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #81B29A;
    align-items: center;
    min-height: calc(100vh - 30vh);
    padding: 20px;
}

.buttons {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 110px;
    height: 35px;
    border: 2px solid #3D405B;
    border-radius: 5px;
    color: #3D405B;
    font-size: 1rem;
    background-color: white;
    font-family: 'Andika', sans-serif;
}

button.active {
    background-color: #3D405B;
    color: #fff;
}


.buttons:hover {
    transform: scale(1.05);
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.4), 5px 5px 8px rgba(0, 0, 0, 0.4), 0 5px 8px rgba(0, 0, 0, 0.4);
}